.module-leafletMap {
    height: 100%;
    .leaflet-container {
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }
    .leaflet-draw .leaflet-bar a {
        float: left;
    }

    &.sidebar-left-opened {
        .leaflet-control-scale {
            margin-left: $sidebar-left-width + 5px;
        }
    }

    &.sidebar-right-opened {
        .leaflet-control-zoom, .leaflet-control-attribution {
            margin-right: $layer-content-width + 5px;
        }
    }
}
