.module-leafletMap {
    height: 100%;
    position: absolute;
    width: 100%;

    .leaflet-container {
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }
    .leaflet-draw .leaflet-bar a {
        float: left;
        border-bottom: 0;
        margin-right: 5px;
        margin-top: 5px;
    }

    .leaflet-draw {
        margin-top: 60px;
        margin-right: 35px;
    }

    .leaflet-bar {
        border: 0;
    }

    &.sidebar-left-opened {
        .leaflet-control-scale {
            margin-left: $sidebar-left-width + 5px;
        }
    }

    &.sidebar-right-opened {
        .leaflet-control-zoom, .leaflet-control-attribution {
            margin-right: $layer-content-width + 5px;
        }
        .leaflet-draw {
            margin-right: $layer-content-width + 35px;
        }
    }

    // style copied from leaflet's original style
    .leaflet-draw-toolbar a {
        background-image: linear-gradient(transparent, transparent), url('../../assets/img/spritesheet.svg');
        background-repeat: no-repeat;
        background-size: 300px 30px;
        background-clip: padding-box;
    }

    .leaflet-draw-draw-polyline {
       background-position: -15px 0px;
    }

    .leaflet-draw-draw-polygon {
       background-position: -45px -1px;
    }

    .leaflet-draw-draw-rectangle {
       background-position: -75px -1px;
    }

    .leaflet-draw-draw-circle {
       background-position: -105px -1px;
    }

    .leaflet-draw-draw-marker {
       background-position: -135px -1px;
    }

    .leaflet-draw-draw-circlemarker {
       background-position: -286px -1px;
    }

    .leaflet-draw-edit-edit {
       background-position: -225px -1px;
    }

    .leaflet-draw-edit-remove {
       background-position: -255px -1px;
    }

    .leaflet-draw-tooltip {
        background: $leaflet-draw-tooltip-background-color;
        background: $leaflet-draw-tooltip-background-color-alpha;
        border: 1px solid transparent;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        color: $leaflet-draw-tooltip-color;
        font: 12px/18px "Helvetica Neue", Arial, Helvetica, sans-serif;
        margin-left: 20px;
        margin-top: -21px;
        padding: 4px 8px;
        position: absolute;
        visibility: hidden;
        white-space: nowrap;
        z-index: 6;
    }

    .leaflet-draw-actions {
        top: 80px !important; // had to use important to override plugin's inline style
        left: 0;
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        white-space: nowrap;
    }

    .leaflet-draw-actions li {
        display: inline-block;
    }

    .leaflet-draw-actions a {
        display: block;
        text-align: center;
        font-size: 12px;
        padding-top: 5px;
        height: 30px;
        background-color: $leaflet-draw-actions-background-color;
        border-left: 1px solid $leaflet-draw-actions-border-color;
        color: $leaflet-draw-actions-color;
        font: 11px/19px "Helvetica Neue", Arial, Helvetica, sans-serif;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
    }

    .leaflet-draw-actions a:hover {
        background-color: $leaflet-draw-actions-hover-background-color;
    }
}

// Hides default Leaflet Layer Control
.leaflet-control-layers.leaflet-control {
    display: none;
}
