.menu-header {
    position: relative;

    &--logo {
        height: 68px;
        margin: 20px 0 0 15px;
        width: 250px;
    }

    &--button {
        background-color: $menu-text-color;
        color: $menu-bg-color;
        cursor: pointer;
        padding: 8px;
        position: absolute;
        right: 0;
        top: 20px;
        transition: all .3s ease background-color;

        &:hover {
            transition-duration: .15s;
            background-color: $menu-header-hover-background-color;
        }
    }

    &--title {
        color: $sidebar-left-highlight-color;
        font-size: 16px;
        font-weight: normal;
        margin: 20px 0 15px 15px;
        text-transform: uppercase;
    }

    &--caption {
        color: $menu-text-color;
        display: block;
        font-size: 80%;
        text-transform: initial;
    }
}
