{
    "plugins": [
        "transform-class-properties"
    ],
    "presets": [
        ["es2015", { "modules": false }],
        "react", "stage-2"
    ],
    "env": {
        "development": {
            "presets": [
                "react-hmre"
            ]
        },
        "test": {
            "plugins": ["transform-es2015-modules-commonjs"]
        }
    }
}
