# Dependency directories
node_modules/
.vscode/
static/

# Automatic generated docs
public/esdoc/
tests/auto/

# Logs
npm-debug.log

# Modules copied from node_modules
src/components/App/sass/font-awesome
src/components/App/sass/leaflet

# Jest Reports
coverage

# Mac OS X crap
.DS_Store