.platform-toolbar {
    top: 15px;
    right: 15px;
    width: 230px;
    height: 53px;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    z-index: 1000;

    &.sidebar-left-opened{
        right: $layer-content-width + 15px;
    }
}
