%menu-item-icon {
    @extend %content-fa;
    font-size: 20px;
    margin-top: -5px;
    position: absolute;
}

%menu-item-arrow-right {
    @extend %menu-item-icon;
    content: $fa-var-angle-right; // >
    right: 21px;
}

%menu-item-arrow-left {
    @extend %menu-item-icon;
    content: $fa-var-angle-left; // <
    left: 21px;
}

%menu-item-checkbox-empty {
    @extend %menu-item-arrow-left;
    content: $fa-var-square-o;
    font-size: 14px;
    margin-top: -1px;
}

%menu-item-checkbox-checked {
    @extend %menu-item-checkbox-empty;
    content: $fa-var-check-square-o;
    color: $menu-selected-layer-color;
}

$menu-item-padding-vertical: 12px;
$menu-item-padding-horizontal: 17px;
$menu-item-padding-horizontal-with-arrow: 38px;

%padding-icon-right {
    padding: $menu-item-padding-vertical $menu-item-padding-horizontal-with-arrow $menu-item-padding-vertical $menu-item-padding-horizontal;
}
%padding-icon-left {
    padding: $menu-item-padding-vertical $menu-item-padding-horizontal $menu-item-padding-vertical $menu-item-padding-horizontal-with-arrow;
}

.sidebar-left > .menu {
    color: $menu-text-color;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 11px;

    // fixes first element border
    > ul > li :first-child {
        border-top: 1px solid $menu-secondary-color;
    }

    // menu item
    li {

        @extend %padding-icon-right;

        list-style-type: none;
        cursor: pointer;
        border-bottom: 1px solid $menu-secondary-color;

        // menu items with children are uppercase
        &.menu-item-with-children, &.menu-item-all-layers {
            text-transform: uppercase;

            // arrow >
            &:after {
                @extend %menu-item-arrow-right;
            }
        }

        // the menu category that is opened, and the "all layers" menu item
        &.menu-item-all-layers, &.selected {
            background: $sidebar-left-highlight-color;
            color: $menu-breadcrumb-text-color;

            @extend %padding-icon-left;

            // arrow <
            &:after {
                @extend %menu-item-arrow-left;
            }
        }
    }

    // submenus
    ul {
        display: none;

        &.selected {
            display: block;

            li {
                @extend %padding-icon-left;

                &:after {
                    @extend %menu-item-checkbox-empty;
                }

                &.layer-selected {
                    color: $menu-selected-layer-color;
                    &:after {
                        @extend %menu-item-checkbox-checked;
                    }
                }
            }
        }
    }
}
