.menu {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    width: 300px;
    height: 80%;
    overflow-y: scroll;
    z-index: 500;
    background: white;
    border-radius: 20px;
    border: 2px solid black;
    box-sizing: border-box;
}
