@import "menu-extends.scss";

.menu-item-container {
    position: relative;
    transition: left .2s ease-in-out;
    left: 0;
    height: auto;
    visibility: visible;
}

.hidden.menu-item-container {
    left: -$sidebar-left-width;
    height: 0;
}

// ul
.menu {
    color: $menu-text-color;
    font-family: sans-serif;
    font-size: 11px;
    overflow-y: auto;
    height: calc(100% - 132px);
    width: 100%;

    li {
        transition:
            all .15s ease background-color,
            all .15s ease color;
        &:hover {
            transition-duration: .3s;
        }
    }

    // li
    &-item {
        &-with-children, &-all-layers, &-layer {
            border-bottom: 1px solid $menu-secondary-color;
            cursor: pointer;
            list-style-type: none;
        }

        &-all-layers {
            position: relative;
        }

        &-all-layers:hover {
            background-color: $menu-all-layers-bgcolor-hover;
        }

        &-with-children, &-layer {
            @extend %padding-icon-right;

            &:hover {
                background-color: $menu-bg-color-hover;
            }
        }

        &-with-children {
            padding-left: 20px;

            &.selected {
                padding-left: 39px;
                &:hover {
                    background-color: $menu-selected-item-children-selected-hover;
                }
            }
        }

        &-with-children, &-all-layers {
            text-transform: uppercase;

            // arrow >
            &:after {
                @extend %menu-item-arrow-right;
            }
        }

        // submenu children menus are hidden
        &-container .menu {
            height: 0;
            visibility: hidden;
            left: $sidebar-left-width;
            position: relative;
            transition: all .2s ease-in-out;

            li {
                display: none;
            }

            // when they are selected, they're visible
            &.selected {
                height: auto;
                visibility: visible;
                left: 0;

                li {
                    display: block;
                }

                // but submenus that have submenus inside of it opened, are hidden
                &.has-submenu-opened {
                    .menu-item-layer {
                        display: none;
                    }

                    ul .menu-item-layer {
                        display: block;
                    }
                }

                // selected submenu
                .menu-item-container .menu-item-with-children {
                    padding-left: 32px;
                    color: $menu-selected-item-children-color;
                    background-color: $menu-selected-item-children-bgcolor;

                    &.active,
                    &.active:hover  {
                        background: $sidebar-left-active-background-color;
                        color: $menu-breadcrumb-text-color;
                    }

                    &.selected{
                        padding-left: 20px;
                    }

                    &:hover {
                        color: $menu-selected-item-children-color-hover;
                        background-color: $menu-selected-item-children-bgcolor-hover;
                    }

                }
            }
        }

        // layer checkboxes
        &-layer {
            max-height: 33px;

            @extend %padding-icon-left;

            &:after {
                @extend %menu-item-checkbox-empty;
            }

            &.layer-selected {
                color: $menu-selected-layer-color;
                background: $menu-selected-layer-bgcolor;

                &:after {
                    @extend %menu-item-checkbox-checked;
                }
            }
        }
    }

    // the menu category that is opened, and the "all layers" menu item
    &-item-all-layers, li.selected {
        background: $sidebar-left-highlight-color;
        color: $menu-breadcrumb-text-color;

        @extend %padding-icon-left;

        // arrow <
        &:after {
            @extend %menu-item-arrow-left;
        }

        &.on-search {
            &:after {
                content: "";
            }
        }

        &.active {
            background: $sidebar-left-active-background-color;
            padding-left: 20px;
            cursor: default;

            &:after {
                content: "";
            }
        }
    }
}
