.global-filter-container {
    font-size: 10px;
    width: 200px;

    .places {
        float:left;
        width: 100%;
    }

    input {
        float: left;
        margin: 5px;
    }

    label {
        float: left;
        margin: 5px;
    }

    span {
        float: left;
        margin: 5px;
        width: 100%;
    }

    form {
        line-height: 22px;
    }

}
