.export-list {
    list-style: none;
    padding: 0 15px;

    &--link {
        color: $export-list-text-color;
        display: block;
        padding: 3px 0;
        text-align: right;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
