.platform-toolbar {
    top: 15px;
    right: 15px;
    width: 390px;
    height: 53px;
    padding: 10px 15px;
    position: absolute;
    z-index: 1000;

    &.sidebar-left-opened {
        right: $layer-content-width + 15px;
    }
}

.map-toolbar {
    bottom: 30px;
    right: 50px;
    width: 150px;
    height: 53px;
    padding: 10px 15px;
    position: absolute;
    z-index: 1000;

    &.sidebar-left-opened {
        right: $layer-content-width + 50px;
    }
}

.toolbar-item {
    cursor: pointer;
    background-color: $toolbar-item-background-color;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    padding-top: 6px;
    text-align: center;
    float: right;
    border: solid 1px #002e56;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.72);
    transition: background-color ease .15s;

    .tooltip {
        display: none;
    }

    &:hover {
        background-color: $toolbar-item-hover-background-color;

        .tooltip {
            display: block;
        }
    }

    &.active {
        background-color: $toolbar-item-active-background-color;
        z-index: 1;

        &:hover {
            .tooltip {
                display: none;
            }
        }
    }
}
