/**
 * Project Inloco - Ministério Público do Estado Rio de Janeiro
 * Github: https://github.com/MinisterioPublicoRJ
 *
 */


@import "sass/settings.scss";
@import "sass/tools.scss";
@import "sass/generic.scss";
@import "sass/base.scss";
@import "sass/objects.scss";
@import "sass/components.scss";
@import "sass/trumps.scss";
