// Animations used on the tools buttons around the application

.allow-transition {
    transition: all .15s ease-in-out;
}

.hide-element {
    border-radius: 50%;
    height: 0;
    width: 0;
}

// Animation used to show/hide the layers menu

.hide-sidebar {
    top: 150px;
    left: 35px;
    @extend .hide-element;

    .search-layer {
        position: relative;
    }
}
