// Animations used on the tools buttons around the application

.allow-transition {
    transition: all .15s ease-in-out;
}

.hide-element {
    border-radius: 50%;
    height: 0;
    width: 0;
}

// Animation used to show/hide the layers menu

.hide-sidebar {
    top: 150px;
    left: 35px;
    @extend .hide-element;
}

// Animation used to show/hide sidebar right
.allow-transition-sidebar-right {
    transition: all .15s ease-in-out;
}

.hide-sidebar-element {
    transform: translateX(400px);
}

.hide-sidebar-right {
    right: 0px;
    @extend .hide-sidebar-element;
}
