//
// Project Inloco - Ministério Público do Estado Rio de Janeiro
// Here are the general settings intended for reset
//

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.hidden {
    visibility: hidden;
}
