/**
 * Projetc Inloco - Ministério Público do Estado Rio de Janeiro
 * Here are the general settings intended for reset
 *
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
