$sidebar-left-width: 300px;
$sidebar-left-highlight-color: #f3ac1c;
$sidebar-left-active-background-color: white;

$menu-bg-color: #182d4c;
$menu-bg-color-hover: darken($menu-bg-color, 2%);
$menu-secondary-color: #12243c;
$menu-text-color: white;
$menu-breadcrumb-text-color: #152e4d;
$menu-selected-layer-color: #3bcf33;
$menu-selected-item-children-bgcolor: #0a1e3a;
$menu-selected-item-children-color: #ffffff;

$sidebar-right-text-color: #182d4c;
$sidebar-right-bg-color: #ffffff;

$search-layer-bg-color: #0b1b32;
$search-layer-input-color: #5779a7;

$tooltip-bg-color: white;
$tooltip-text-color: #091e3b;

$layer-content-bg-color: white;
$layer-content-width: 400px;

$sidebar-right-remove-all-layers-button-width: 28px;
$sidebar-right-remove-all-layers-button-height: 25px;
$sidebar-right-remove-all-layers-button-text-color: white;
$sidebar-right-remove-all-layers-button-bg-color: #bd0401;

$layer-list-area-title-color: #0b1b32;
$layer-list-icon-color: #162d4d;
$layer-list-primary-text-color: #192b4f;
$layer-list-secondary-text-color: #2a2a2a;

$layer-list-icon-bg-color-deactivated: white;
$layer-list-icon-text-color-deactivated: #162d4d;
$layer-list-icon-bg-color: #162d4d;
$layer-list-icon-text-color: white;
$layer-list-icon-color-hover: #f3ac1c;
$layer-list-icon-color-danger-hover: #bd0401;
$layer-list-icon-width: 28px;
$layer-list-icon-height: 32px;
$layer-button-carousel-bg-color:#172d4c;
$layer-button-carousel-text-color: #ffffff;
$layer-button-carousel-bg-color-hover: #fdb316;
$layer-button-carousel-text-color-hover:#172d4c;
$layer-list-header-background-contrast: #162d4d;
$layer-list-icon-color-contrast: white;
$layer-list-primary-text-color-contrast: #fdb316;
$layer-list-secondary-text-color-contrast: white;

$data-table-header-border-color: #182d4c;
$data-table-header-border-size: 2px;
$data-table-header-text-color: #53616c;
$data-table-body-text-color: #373737;

$modal-background-color: white;
$modal-box-shadow-color: #2f2f2f;
$modal-title-color: #182d4c;
$modal-layer-list-border-top-color: #ced1d6;
$modal-layer-list-link-background-color: white;
$modal-layer-list-link-text-color: #182d4c;
$modal-layer-list-link-active-background-color: #182d4c;
$modal-layer-list-link-active-text-color: white;
