$sidebar-left-width: 300px;
$sidebar-left-highlight-color: #f3ac1c;
$sidebar-left-active-background-color: white;

$menu-bg-color: #182d4c;
$menu-bg-color-hover: darken($menu-bg-color, 2%);
$menu-secondary-color: #12243c;
$menu-text-color: white;
$menu-breadcrumb-text-color: #152e4d;
$menu-selected-layer-color: #3bcf33;
$menu-selected-item-children-bgcolor: #0a1e3a;
$menu-selected-item-children-color: #ffffff;

$sidebar-right-text-color: #182d4c;
$sidebar-right-bg-color: #ffffff;

$search-layer-bg-color: #0b1b32;
$search-layer-input-color: #5779a7;

$tooltip-bg-color: white;
$tooltip-text-color: #091e3b;

$layer-content-bg-color: white;
$layer-content-width: 400px;

$layer-list-area-title-color: #0b1b32;
$layer-list-icon-color: #162d4d;
$layer-list-primary-text-color: #192b4f;
$layer-list-secondary-text-color: #2a2a2a;

$layer-list-header-background-contrast: #162d4d;
$layer-list-icon-color-contrast: white;
$layer-list-primary-text-color-contrast: #fdb316;
$layer-list-secondary-text-color-contrast: white;
