.basemap-list {
    list-style: none;
    display: flex;

    &--item {
        display: inline-block;
        margin-right: 5px;
        margin-left: 5px;
    }

    &--image {
        height: 35px;
        width: 35px;

        &:hover {
            outline: 2px solid #182d4c;
        }
    }
}
