.sidebar-left {
    background: $menu-bg-color;
    padding-bottom: 76px;
    position: fixed;
    top: 0;
    left: 0;
    width: $sidebar-left-width;
    height: 100%;
    z-index: 1001; // over Leaflet controls
    box-shadow: 3px 2px 15px 0 $sidebar-box-shadow-color;
}
