.sidebar-left {
    background: $menu-bg-color;
    padding-top: 80px; // temporary
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    overflow-y: auto;
    z-index: 500;
}
