%modal-button {
    border-radius: 5px;
    float: left;
    margin-left: 15px;
}

.modal {
    background: $modal-background-color;
    height: 98%;
    left: 1%;
    overflow-y: auto;
    padding: 15px;
    position: fixed;
    top: 1%;
    width: 98%;

    &-container {
        background: $modal-box-shadow-color;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 1002;
    }

    & button {
        background: none;
        border: 0;
    }

    &--title {
        color: $modal-title-color;
        font-size: 24px;
        font-weight: normal;
    }

    &--close-button {
        border: 5px solid;
        border-radius: 50%;
        cursor: pointer;
        float: right;
        font-size: 20px;
        padding: 0px 3px 2px;

        @extend .fa;
        @extend .fa-times;

        &:hover {
            opacity: .7;
        }

        &:active{
            opacity: .5;
        }
    }

    &-layer-list {
        border-top: 1px solid $modal-layer-list-border-top-color;
        list-style: none;
        margin-top: 10px;

        &--item{
            display: inline;
        }

        &--link{
            background: $modal-layer-list-link-background-color;
            color: $modal-layer-list-link-text-color;
            cursor: pointer;
            display: inline-block;
            padding: 10px;
            font-size: 12px;

            &:hover,
            &.active {
                background: $modal-layer-list-link-active-background-color;
                color: $modal-layer-list-link-active-text-color;
            }
        }
    }

    &-footer {
        margin: 20px 0 0 1px;
    }

    &-pagination {
        list-style: none;
        margin-left: 1px;

        &-container {
            display: inline-block;
            margin-top: 20px;
            max-width: 50%;
        }

        &--item {
            border: 1px solid $modal-pagination-primary-color;
            display: inline-block;
            margin-left: -1px;

            &:first-of-type {
                border-radius: 5px 0 0 5px;
            }

            &:last-of-type {
                border-radius: 0 5px 5px 0;
            }
        }

        &--link {
            color: $modal-pagination-primary-color;
            cursor: pointer;
            padding: 5px 10px;
            font-size: 12px;

            &:hover,
            &.active {
                background: $modal-pagination-primary-color;
                color: $modal-pagination-secondary-color;
            }

            &.active {
                cursor: default;
            }
        }

        &--counter {
            color: $data-table-body-text-color;
            display: block;
            font-size: 12px;
            margin-top: 5px;
        }
    }

    &-options {
        float: right;
        list-style: none;
        margin-top: -44px;

        &--export {
            background: $modal-options-export-button-color;
            position: relative;
            @extend %modal-button;
        }

        &--back {
            background: $modal-options-back-button-color;
            @extend %modal-button;
        }

        &--link {
            color: $modal-options-button-text-color;
            cursor: pointer;
            display: inline-block;
            font-size: 12px;
            padding: 10px 15px;
            text-transform: uppercase;
        }

        &--icon {
            margin-left: 5px;
        }
    }

    &-export-list {
        background: $export-list-background-color;
        border: 1px solid $modal-export-list-border-color;
        border-radius: 6px;
        display: none;
        list-style: none;
        padding: 5px;
        position: absolute;
        right: 0;
        text-align: right;
        top: 35px;
        width: 150px;

        &--link {
            color: $export-list-text-color;
            cursor: pointer;
            display: block;
            font-size: 12px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        &--extension {
            font-style: italic;
            margin-left: 5px;
        }
    }

    & .data-table--header {
        font-size: 14px
    }

    & .data-table--body {
        font-size: 12px
    }
}

.news-modal {
    @extend .modal;
    box-shadow: none;
    height: 65%;
    left: 90%;
    margin-left: -36%;
    overflow-y: scroll;
    width: 45%;
    padding-bottom: 35px;

    &-list {
        list-style: none;
        margin: 20px 0;
        overflow-y: auto;
        padding: 5px 0;

        li {
            padding-top: 15px;
            padding-bottom: 10px;
            border-bottom: solid 1px $modal-list-border-color;

            &:last-child { border-bottom: none; }
        }

        &--image {
            display: inline-block;
            max-width: 220px;
            max-height: 150px;
            border: solid 1px $modal-list-img-border-color;
        }

        &--content{
            display: inline-block;
            vertical-align: top;
            padding-left: 15px;
            padding-right: 15px;
            width: 55%;
        }

        &--title {
            font-size: 18px;
        }

        &--description {
            font-size: 14px;
        }
    }

    .modal-options--back {
        margin: 0;
    }
    .modal--title {
        margin-bottom: 10px;
    }

}

.news-modal-list--description:first-of-type img {
    max-width: 10%;
}

.hide-modal {
    display: none;
}

.modal-options--export:hover .modal-export-list {
    display: block;
}

.about-modal {
    @extend .news-modal;
    overflow-y: auto;
    p {
        margin-top: .5em;
        line-height: 1.4em;
    }
}

.login-modal {
    @extend .modal;
    overflow-y: auto;
    p {
        margin-top: .5em;
        line-height: 1.4em;
    }
}
