.application-header {
    left: 15px;
    position: absolute;
    top: 15px;
    z-index: 1001;

    &--logo-placeholder {
        //background-color: $logo-placeholder-background-color;
        border-radius: 4px;
    }

    &--logo {
        height: 125px;
        margin: 0;
        width: 203px;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.72);
    }

    &--menu-button {
        position: relative;
        background-color: $menu-bg-color;
        border-radius: 50%;
        color: $menu-text-color;
        cursor: pointer;
        display: block;
        font-size: 32px;
        height: 55px;
        margin-top: 25px;
        padding-top: 10px;
        text-align: center;
        text-decoration: none;
        width: 55px;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.72);
        transition: background-color ease .15s;

        &:hover{
            background-color: $menu-bg-color-hover;
        }

        &:before {
            line-height: 38px;
        }

    }
}
.menu-button {

    &--tootltip {
        position: absolute;
        padding: 6px;
        width: 130px;
        font: 14px sans-serif;
        border-radius: 4px;
        background-color: $menu-button-tooltip-bgcolor;
        transform: translateY(6px) translateX(25px);

        &:before {
            content: '\f0d9';
            position: absolute;
            top: 2px;
            left: -9px;
            font: 26px 'FontAwesome';
            color: $menu-button-tooltip-bgcolor;
        }

    }
}

@keyframes attetionMenu {
    from {
        transform: translateY(6px) translateX(25px);
    }
    to {
        transform: translateY(6px) translateX(35px);
     }
}

.focus-menu {
    .menu-button--tootltip{
        animation: attetionMenu ease-in-out infinite 0.4s alternate;
    }
}

