.application-header {
    left: 15px;
    position: absolute;
    top: 15px;
    z-index: 1001;

    &--logo-placeholder {
        background-color: $logo-placeholder-background-color;
        border-radius: 4px;
        height: 58px;
        width: 230px;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.72);
    }

    &--logo {
        height: 39px;
        margin: 8px 22px;
        width: 185px;
    }

    &--menu-button {
        background-color: $menu-bg-color;
        border-radius: 50%;
        color: $menu-text-color;
        cursor: pointer;
        display: block;
        font-size: 32px;
        height: 55px;
        margin-top: 25px;
        padding-top: 10px;
        text-align: center;
        text-decoration: none;
        width: 55px;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.72);
        transition: background-color ease .15s;

        &:hover{
            background-color: $menu-bg-color-hover;
        }

    }
}
