.module-polygon-data{
    .data-table{
        width: 90%;
        margin: 15px 5%;

        td {
            padding: 2px 3px;
            border: 1px solid $layer-item-border-color;
        }
    }

}
