.layer-styles-carousel {
    position: relative;
    margin-bottom: 10px;

    &::selection {
        background: none;
    }

    &--arrow {
        z-index: 2;
        position: absolute;
        top: 33%;
        padding: 7px;
        width: 25px;
        height: 25px;
        font-size: 12px;
        text-align: center;
        color: $layer-button-carousel-text-color;
        border-radius: 50%;
        background-color: $layer-button-carousel-bg-color;
        cursor: pointer;

        &.remove {
            display: none;
        }

        &:hover,
        &:focus {
            color: $layer-button-carousel-text-color-hover;
            background-color: $layer-button-carousel-bg-color-hover;
        }

        &.fa-chevron-left:before { margin-left: -3px; }
        &.fa-chevron-right:before { margin-right: -2px; }
    }
    .layer-styles-carousel--arrow:last-child{ right: 16px; }

    &--list-container {
        display: inline-block;
        margin-top: 10px;
        margin-left: 2px;
        overflow: hidden;
        width: 328px;
    }

    &--list {
        height: 39px;
        position: relative;
        transition-duration: .2s;
    }

    &--list-item {
        display: inline-block;
        height: 39px;
        margin: 0 2px;
        border: 1px solid rgba(0,0,0,0); // every item has a 1px transparent border

        &.selected {
            background-color: $layer-styles-list-item-selected-background;

            .layer-styles-carousel--image {
                opacity: .5;
            }

        }
    }

    &--image {
        border: 1px solid $layer-list-secondary-text-color;
        cursor: pointer;
        height: 37px;
        width: 60px;

        &:hover {
            border: 1px solid $layer-list-area-title-color;
        }

        &::selection {
            background: none;
        }
    }
}
