.sidebar-right {
    background: $layer-content-bg-color;
    position: fixed;
    top: 0;
    right: 0;
    width: $layer-content-width;
    height: 100%;
    overflow-y: auto;
    z-index: 1001; // over Leaflet controls
}

.layer-list {
    position: relative;

    &--title {
        border-bottom: 1px solid #ced1d6;
        color: $layer-list-area-title-color;
        font-size: 22px;
        font-weight: normal;
        padding: 15px;
    }

    &--remove-all-layers-button {
        background: $sidebar-right-remove-all-layers-button-bg-color;
        color:      $sidebar-right-remove-all-layers-button-text-color;
        width:      $sidebar-right-remove-all-layers-button-width;
        height:     $sidebar-right-remove-all-layers-button-height;

        border: none;
        border-radius: 3px;
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 53px;

        &:hover {
            background-color: $layer-list-button-remove-all-layers-background;
        }
    }

    &--close-button {
        position: absolute;
        right: 20px;
        top: 16px;
        width: 25px;
        height: 25px;
        padding: 1px 0px 0 0;
        font-size: 15px;
        font-weight: normal;
        text-align: center;
        color: $layer-list-icon-color;
        cursor: pointer;
        border: 3px solid;
        border-radius: 50%;

        &:hover{
            color: $layer-list-button-close-background;
        }

    }
}
