.toolbar-menu {
    margin-top: 15px;
    width: 190px;
    background-color: white;
    border-radius: 5px;
    padding: 15px 0;
    position: absolute;
    left: 25px;
    color: black;
    font-family: sans-serif;

    &.map{
        margin-top: -85px;
    }
}

.fa-close{
    float:right;
}
