.layer-item-space {
    // hide up arrow on first item
    &:first-child {
        .layer-item:hover {
            .layer-item-controls-button.up {
                cursor: initial;
                background: lightgray;
            }
        }

    }

    // hide down arrow on last item
    &:last-child {
        .layer-item:hover {
            .layer-item-controls-button.down {
                cursor: initial;
                background: lightgray;
            }
        }
    }
}

.layer-item {
    border-bottom: 1px solid #ced1d6;
    clear: right;

    &-header {
        padding: 15px;

        &--icon {
            color: $layer-list-icon-color;
            font-size: 24px;

            &.chevron {
                @extend .fa-chevron-right;
            }
        }

        &--title {
            color: $layer-list-primary-text-color;
            display: inline-block;
            font-size: 12px;
            margin-left: 5px;
            width: 90%;
        }

        &--caption {
            color: $layer-list-secondary-text-color;
            display: block;
            font-size: 13px;
        }
    }

    &-body {
        position: relative;
        min-height: 100px;
        margin: 10px 0;
    }

    &-controls {
        position: absolute;
        right: 0;
        width: $layer-list-icon-width;
        z-index: 4;

        &-button {
            background: $layer-list-icon-bg-color-deactivated;
            border: 0;
            color: $layer-list-icon-text-color-deactivated;
            cursor: pointer;
            width: 100%;
            height: $layer-list-icon-height;

            &:first-child {
                border-radius: 5px 0 0 0;
            }

            &:last-child {
                border-radius: 0 0 0 5px;
            }
        }
    }

    &:hover {
        .layer-item-controls-button {
            background: $layer-list-icon-bg-color;
            color: $layer-list-icon-text-color;

            &:hover {
                background: $layer-list-icon-color-hover;
            }

            &.remove:hover {
                background: $layer-list-icon-color-danger-hover;
            }
        }
    }

    &--subtitle {
        margin: 9px;
        margin-top: 0;
        max-width: 100%;
    }

    &-more-info {
        padding: 15px;
        display: none;

        &--title {
            color: $layer-list-area-title-color;
            font-size: 18px;
            font-weight: normal;
        }

        &--text {
            color: $layer-list-secondary-text-color;
            font-size: 12px;
            margin-bottom: 15px;
        }
    }

    &.selected {

        background: #f2f2f2;

        .layer-item-header {
            background-color: $layer-list-header-background-contrast;

            &--icon {
                color: $layer-list-icon-color-contrast;

                &.chevron {
                    @extend .fa-chevron-down;
                }
            }

            &--title {
                color: $layer-list-primary-text-color-contrast;
            }

            &--caption {
                color: $layer-list-secondary-text-color-contrast;
            }
        }

        .layer-item-more-info {
            display: block;
        }

        .layer-item-data--icon {
            background-image: linear-gradient(to left, #f2f2f2, transparent 150%);
        }
    }

    %layer-item-data-icon {
        background: #0362b4;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
    }

    &-data {
        padding: 0 15px;

        &--title {
            color: $layer-list-area-title-color;
            font-size: 18px;
            font-weight: normal;
            margin-bottom: 10px;
        }

        &--icon {
            background-image: linear-gradient(to left, white, transparent 150%);
            height: 40%;
            position: absolute;
            right: 15px;
            z-index: 1;
            width: 40%;

            &:before {
                font-size: 20px;
                height: 25px;
                padding: 5px;
                position: absolute;
                right: 30px;
                text-align: center;
                top: 10%;
                width: 25px;
                z-index: 2;

                @extend %layer-item-data-icon;
                @extend .fa;
                @extend .fa-expand;
            }
        }

        &--more-info {
            display: inline-block;
            font-size: 12px;
            font-weight: bold;
            margin: 15px 0 15px 282px;
            padding: 10px 15px;
            position: relative;
            text-transform: uppercase;
            z-index: 2;

            @extend %layer-item-data-icon;
        }
    }
}
